<a href="javascript:void(0)" class="wishlist btn-style2" data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">
    <span class="wishlist-icon action-wishlist tile-actions--btn wishlist-btn" data-product-handle="{{ product.handle }}">
        <span class="add-wishlist"><i class="ri-heart-line"></i></span>
        <span class="loading-wishlist load-anim"><i class="ri-loader-4-line"></i></span>
        <span class="remove-wishlist"><i class="ri-heart-fill"></i></span>
    </span>
</a>