{% if section.settings.desktop_banner != blank %}
  <div class="dual-banner">
    {{ section.settings.desktop_banner | image_url: width: 1920 | image_tag }}
  </div>
{% endif %}

{% if section.settings.mobile_banner != blank %}
  <div class="banner-mobile">
    {{ section.settings.mobile_banner | image_url: width: 1920 | image_tag }}
  </div>
{% endif %}

{% schema %}
{
  "name": "Dual Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_banner",
      "label": "Desktop Banner Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_banner",
      "label": "Mobile Banner Image"
    }
  ]
}
{% endschema %}

<style>
.banner-desktop img, .banner-mobile img {
  width: 100%;
  display: block;
}

@media (max-width: 768px) {
  .banner-desktop {
      display: none;
  }
  .banner-mobile {
      display: block;
  }
}

@media (min-width: 769px) {
  .banner-desktop {
      display: block;
  }
  .banner-mobile {
      display: none;
  }
}
</style>
