{% if section.settings.desktop_banner != blank %}
  <div class="banner-desktop">
      <img src="{{ section.settings.desktop_banner | img_url }}" alt="Desktop Banner" loading="eager">
  </div>
{% endif %}

{% if section.settings.mobile_banner != blank %}
  <div class="banner-mobile">
      <img src="{{ section.settings.mobile_banner | img_url }}" alt="Mobile Banner" loading="lazy">
  </div>
{% endif %}


{% schema %}
{
    "name": "Dual Banner",
    "settings": [
        {
            "type": "image_picker",
            "id": "desktop_banner",
            "label": "Desktop Banner Image"
        },
        {
            "type": "image_picker",
            "id": "mobile_banner",
            "label": "Mobile Banner Image"
        }
    ]
}
{% endschema %}





<style>
@media (min-width: 769px) {
    .banner-desktop img {
        display: block;
        width: 100%;
        height: auto;
    }
    .banner-mobile img {
        display: none;
    }
}

@media (max-width: 768px) {
    .banner-desktop img {
        display: none;
    }
    .banner-mobile img {
        display: block;
        width: 100%;
        height: auto;
    }
}
</style>
