<div class="password-header">
  {% render 'company-logo' %}
  <span class="password-coming-soon">{{ section.settings.pwd_heder_soon_title }}</span>
</div>
{% schema %}
{
  "name": "Password Header",
  "settings": [
    {
      "type": "header",
      "content": "Section Content"
    },
    {
      "type": "text",
      "id": "pwd_heder_soon_title",
      "label": "Title",
      "default": "Coming soon"
    }
  ]
}
{% endschema %}
<style>
  .password-header span.password-coming-soon{
    display: block;
    color: var(--font-color-body);
    font-size: 30px;
    margin-top: 19px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 5px;
    line-height: 1;
  }
  @media (max-width: 479px) {
    .password-header span.password-coming-soon{
      font-size: 20px;
      margin-top: 21px;
      letter-spacing: 3px;
    }
  }
</style>
