  /* feature css */
  .features-square-area ul.single-feature {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: -70px;
    margin-top: -50px;
  }
  .features-square-area ul.single-feature li.ser-box {
    width: calc(33.33% - 70px);
    margin-left: 70px;
    margin-top: 50px;
    border: 1px solid #ededed;
    border-radius: 10px;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
  }
  .features-square-area ul.single-feature li.ser-box:hover {
    box-shadow: 0 0 15px rgb(0 0 0 / 15%);
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
  }
  .features-square-area ul.single-feature li.ser-box .ser-block {
    background-color: #fff;
    padding: 70px;
    text-align: center;
  }
  .features-square-area ul.single-feature li.ser-box .ser-block .feature-icon {
    position: relative;
    font-size: 40px;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid #ededed;
    border-radius: 100%;
  }
  .features-square-area ul.single-feature li.ser-box:hover .ser-block .feature-icon {
    color: #ffffff;
  }
  .features-square-area ul.single-feature li.ser-box .ser-block .feature-icon::before {
    background-image: var(--gradient-color);
    content: '';
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    left: 0px;
    right: 0px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
  }
  .features-square-area ul.single-feature li.ser-box:hover .ser-block .feature-icon::before {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
  }
  /* .features-square-area ul.single-feature li.ser-box .ser-block .feature-icon i {
    z-index: 1;
    background-image: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */
  /* .features-square-area ul.single-feature li.ser-box:hover .ser-block .feature-icon i {
    z-index: 1;
    -webkit-text-fill-color: unset;
    color: #ffffff;
  } */
  .features-square-area ul.single-feature li.ser-box .ser-block .feature-text {
    margin-top: 45px;
  }
  .features-square-area ul.single-feature li.ser-box .ser-block .feature-text h6 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .features-square-area ul.single-feature li.ser-box .ser-block .feature-text p {
    font-size: 18px;
    margin-top: 24px;
  }

  @media (max-width: 1599px) {
    .features-square-area ul.single-feature li.ser-box .ser-block {
      padding: 70px 50px;
    }
  }
  @media (max-width: 1199px) {
    .features-square-area ul.single-feature {
      margin-left: -30px;
      margin-top: -30px;
    }
    .features-square-area ul.single-feature li.ser-box {
      width: calc(33.33% - 30px);
      margin-left: 30px;
      margin-top: 30px;
    }
    .features-square-area ul.single-feature li.ser-box .ser-block {
      padding: 50px 30px;
    }
    .features-square-area ul.single-feature li.ser-box .ser-block a {
      font-size: 30px;
      width: 100px;
      height: 100px;
    }
    .features-square-area ul.single-feature li.ser-box .ser-block a::before {
      width: 80px;
      height: 80px;
    }
    .features-square-area ul.single-feature li.ser-box .ser-block .feature-text h6 {
      font-size: 18px;
    }
    .features-square-area ul.single-feature li.ser-box .ser-block .feature-text p {
      font-size: 16px;
    }
  }
  @media (max-width: 991px) {
    .features-square-area ul.single-feature li.ser-box {
      width: calc(50% - 30px);
    }
  }
  @media (max-width: 767px) {
    .features-square-area ul.single-feature {
      margin-left: -12px;
    }
    .features-square-area ul.single-feature li.ser-box {
      width: calc(50% - 12px);
      margin-left: 12px;
    }
    .features-square-area ul.single-feature li.ser-box .ser-block {
      padding: 30px 12px;
    }
    .features-square-area ul.single-feature li.ser-box .ser-block a {
      font-size: 24px;
      width: 80px;
      height: 80px;
    }
    .features-square-area ul.single-feature li.ser-box .ser-block a::before{
      width: 60px;
      height: 60px;
    }
    .features-square-area ul.single-feature li.ser-box .ser-block .feature-text {
      margin-top: 25px;
    }
    .features-square-area ul.single-feature li.ser-box .ser-block .feature-text p {
      margin-top: 13px;
    }
  }
  @media (max-width: 479px) {
    .features-square-area ul.single-feature {
      margin-left: 0px;
    }
    .features-square-area ul.single-feature li.ser-box {
      width: calc(100% - 0px);
      margin-left: 0px;
    }
  }
